# Ignore node_modules directory
node_modules

# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore .env file (contains sensitive information)

# Ignore any build artifacts
build

# Ignore any test coverage reports
coverage

# Ignore any editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore any version control files
.git
.gitignore